@use "@styles/media" as *;
@use "@styles/mixins" as *;

.header {
  padding-top: 2.5rem;
  padding-left: 5.1875rem;
  padding-right: 4.61rem;
  position: fixed;
  width: 100%;
  background-color: var(--lineSpacingBase);
  z-index: 100;
  pointer-events: none;

  @include tablet {
    padding-top: 1rem;
    padding-inline: 1.5rem;
  }

  &__logo {
    pointer-events: auto;
    height: 3rem;
  }

  &__inner {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}