@use "@styles/media" as *;

.hero {
  background: var(--gradient);
  height: 100vh;
  display: flex;

  &__main {
    width: calc(var(--containerWidth) + var(--containerPaddingX) * 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;

    @include mobile {
      margin-top: 5rem;
      margin-bottom: 2rem;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-evenly;
    }
  }

  &__body {
    position: relative;

    @include mobile {
      display: contents;
    }
  }

  &__title,
  &__description,
  &__button {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 0.8s ease-out forwards;
    animation-fill-mode: both;
  }


  &__title {
    animation-delay: 0.2s;
    @include mobile {
      order: -2;
    }
  }

  &__description {
    max-width: 23vw;
    margin-top: 2.1rem;
    margin-bottom: 4.7rem;
    animation-delay: 0.4s;

    @include desktop {
      max-width: 45%;
    }
    @include tablet {
      max-width: 40%;
    }
    @include mobile {
      max-width: 100%;
      margin-top: 0;
      margin-bottom: 1.5rem;
    }
  }

  .button {
    animation-delay: 0.6s;
  }

  &__image {
    position: absolute;
    margin-inline: auto;
    margin-left: 23.39%;
    margin-top: 3.1%;
    opacity: 0;
    transform: scale(0.95);
    animation: fadeInZoom 1s ease-out forwards;
    animation-delay: 0.8s;

    @include desktop {
      margin-left: 0;
      right: 1.45rem;
      max-width: 55%;
      min-width: 18rem;
      height: auto;
    }

    @include mobile {
      margin-top: 0;
      right: 0;
      margin-inline: auto;
      margin-block: 1%;
      position: relative;
      order: -1;
    }
  }
}

@keyframes fadeInZoom {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
